@model Student;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var message = ViewData["Message"] as string ?? "";
    var name = Model?.Name ?? "";
    var dateOfBirth = Model?.DateOfBirth ?? DateTime.Now;
}


<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Name" class="control-label"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="DateOfBirth" class="control-label"></label>
    <input asp-for="DateOfBirth" class="form-control"  />
    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
</div>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-success form-group mt-2">
        @message
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            setTimeout(() => {
                // Redirect back to Students
                window.location.href = "/Students"
            }, 3000)
        })
    </script>
}

