@model List<Student>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


 




<div class="d-flex align-items-center justify-content-between">

<h1 class="fancy-font">List of Students</h1>
    <a class="btn btn-primary" asp-action="Create">Create new Student</a>
</div>
<div class="row flex-wrap" id="students">
    @foreach (Student student in Model)
    {
        <div class="col-md-6 col-lg-4">
            @Html.Partial("./_StudentCard.cshtml", student)
        </div>
    }
    @if (Model.Count == 0)
    {
        <li>There are no students in the DB</li>
    }



</div>