@model List<Student>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<nav>
    <a asp-action="Create">Create New Student</a>
</nav>



<h1 class="fancy-font">List of Students</h1>
<div class="row flex-wrap" id="students">
    @foreach (Student student in Model)
    {
        <div class="col-md-6 col-lg-4">
            @Html.Partial("./_StudentCard.cshtml")
        </div>
    }
    @if (Model.Count == 0)
    {
        <li>There are no students in the DB</li>
    }



</div>